AIRFLOW_HOME=<airflow_home_path>
AIRFLOW__CORE__DAGS_FOLDER=<airflow_dags_folder_path>
BIKE_PYTHON_BIN=<python_binary_path>

AIRFLOW_WEBSERVER_HOST=<airflow_webserver_host>
AIRFLOW_WEBSERVER_PORT=<airflow_webserver_port>
AIRFLOW_ADMIN_EMAIL=<airflow_admin_email>
AIRFLOW_ADMIN_PASSWORD=<airflow_admin_password>
AIRFLOW_ADMIN_USERNAME=<airflow_admin_username>
AIRFLOW_ADMIN_FIRSTNAME=<airflow_admin_firstname>
AIRFLOW_ADMIN_LASTNAME=<airflow_admin_lastname>
AIRFLOW__CORE__AUTH_MANAGER=<airflow_auth_manager_class>
AIRFLOW__CORE__LOAD_EXAMPLES=<true_or_false>
AIRFLOW__API_AUTH__JWT_SECRET=<airflow_api_auth_jwt_secret>

POSTGRES_DB=<postgres_db_name>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>

API_HOST=<api_host>
API_PORT=<api_port>

STREAMLIT_HOST=<streamlit_host>
STREAMLIT_PORT=<streamlit_port>

BIKE_APP_TIMEZONE=Europe/Paris